<form action="/planets/create" method="post">
	<div>
		<label for="name">name</label>
		<input type="text" name="planet[name]">
	</div>
	<div>
		<label for="image_url">image url:</label>
		<input type="text" name="planet[image_url]">
	</div>
	<div>
		<label for="orbit_duration">orbit duration:</label>
		<input type="text" name="planet[orbit_duration]">
	</div>
	<div>
		<label for="diameter">diameter:</label>
		<input type="text" name="planet[diameter]">
	</div>
	<div>
		<label for="mass">mass:</label>
		<input type="text" name="planet[mass]">
	</div>
	<div>
		<label for="moons">number of moons:</label>
		<input type="text" name="planet[moons]">
	</div>
	<input type="submit" value="create planet">
	
</form>